.user__table .content__group.form {
    width: 1400px;
    margin: auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.user__search__form input, .user__form input {width: 250px; padding: 10px 10px; box-sizing: border-box;}
.user__search__form select {padding: 10px;}
.user__table .content__group.form button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--color-blue-1);
    color: var(--color-white-1);
    border-radius: 5px;
}
.user__table .content__group.form .user__search__form button {padding: 10px 20px;}

.user__table table {width: 1600px; margin: auto; border-spacing: unset;}
.user__table tbody {font-size: 0.9em;}
.user__table .user__information {width: auto; display: table-row;}
.user__table .user__information select {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-left: 4px solid var(--color-gray-3);
    background-color: transparent;
}
.user__table th,
.user__table td {padding: 5px 10px; box-sizing: border-box; text-align: center;}
.user__table th {background-color: var(--color-black-4); color: var(--color-white-1); border-right: 1px solid var(--color-white-1); font-weight: 500;}
.user__table th:last-of-type {border-right: none;}
.user__table td {border-left: 1px solid var(--color-black-4); border-bottom: 1px solid var(--color-black-4);}
.user__table td:last-of-type {border-right: 1px solid var(--color-black-4);}
.user__information td[name="user_name"] {position: relative;}
.user__information td[name="user_name"] .dup__cnt{position: absolute; top: 10px; left: 10px; font-size: 0.8em; color: var(--color-red-1);}
.user__information .form {display: flex; flex-direction: row; gap: 5px; justify-content: center; align-items: center;}

.user__information .form input {width: 8em; text-align: center; padding: 0; font-size: 1em; border: none;}
.user__information .form input:disabled {background-color: transparent; color: var(--color-black-1);}

.user__information .form .btn {font-size: 0.8em; font-weight: 500; color: var(--color-orange-1); cursor: pointer;}
.user__information .form .btn.close,
.user__information .form .btn.action {display: none;}

.user__information .list .btn {color: var(--color-red-1); cursor: pointer;}


.amount .form input {width: 12em; background-color: var(--color-gray-4); padding: 5px 10px; border-radius: 20px; font-size: 0.9em; border: none;}
.amount .form button {font-size: 0.9em; padding: 5px 10px; border-radius: 10px; background-color: var(--color-green-4);}
.amount .form {justify-content: start;}
.amount .form.hidden {display: none;}
.amount .form.flex {display: flex;}
.amount .btn-group,
.amount .btn-group {display: flex; flex-direction: row; gap: 5px; font-size: 0.8em; font-weight: 500; justify-content: baseline;}
.amount .btn-group .btn {cursor: pointer; color: var(--color-orange-1);}
.amount [name="sum"] {text-align: left;}
.amount .amount__list {font-size: 0.8em; text-align: left;}

.recall .form input {width: 12em; background-color: var(--color-gray-4); padding: 5px 10px; border-radius: 20px; font-size: 0.9em; border: none;}
.recall .form button {font-size: 0.9em; padding: 5px 10px; border-radius: 10px; background-color: var(--color-green-4);}
.recall .form {justify-content: start;}
.recall .form.hidden {display: none;}
.recall .form.flex {display: flex;}
.recall .btn-group,
.recall .btn-group {display: flex; flex-direction: row; gap: 5px; font-size: 0.8em; font-weight: 500; justify-content: baseline;}
.recall .btn-group .btn {cursor: pointer; color: var(--color-orange-1);}
.recall [name="sum"] {text-align: left;}
.recall .recall__list {font-size: 0.8em; text-align: left;}
.recall .recall__list li {max-width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}

.recall .recall__type {border: 1px solid var(--color-gray-3) !important; font-size: 0.8em;}

#pager {padding-top: 1rem; text-align: center;}