.user__table .content__group.form {
    width: 1400px;
    margin: auto;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.user__search__form input, .user__form input {width: 250px; padding: 10px 10px; box-sizing: border-box;}
.user__search__form select {padding: 10px;}
.user__table .content__group.form button {
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: var(--color-blue-1);
    color: var(--color-white-1);
    border-radius: 5px;
}
.user__table .content__group.form .user__search__form button {padding: 10px 20px;}

.user__table table {width: 1400px; margin: auto; border-spacing: unset;}
.user__table tbody {font-size: 0.9em;}
.user__table .user__information {width: auto; display: table-row;}
.user__table .user__information select {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-left: 4px solid var(--color-gray-3);
    background-color: transparent;
}
.user__table th,
.user__table td {padding: 5px 10px; box-sizing: border-box; text-align: center;}
.user__table th {background-color: var(--color-black-4); color: var(--color-white-1); border-right: 1px solid var(--color-white-1); font-weight: 500;}
.user__table th:last-of-type {border-right: none;}
.user__table td {border-left: 1px solid var(--color-black-4); border-bottom: 1px solid var(--color-black-4);}
.user__table td:last-of-type {border-right: 1px solid var(--color-black-4);}
.user__table td .update {display: flex; flex-direction: row; gap: 5px; justify-content: center; align-items: center;}
.user__information td .update input {text-align: center; padding: 0; font-size: 1em; border: none;}
.user__information td .update input:disabled {background-color: transparent; color: var(--color-black-1);}
.user__information td .update .btn {font-size: 0.8em; font-weight: 500; color: var(--color-orange-1); cursor: pointer;}
.user__information td .update .btn.close,
.user__information td .update .btn.action {display: none;}
.user__information td[name="estimate"] .btn {display: flex; flex-direction: row; gap: 5px; font-size: 0.8em; font-weight: 500; justify-content: baseline;}
.user__information td[name="estimate"] .btn span {cursor: pointer; color: var(--color-orange-1);}
.user__information [name="sum"] {text-align: left;}

.user__table .recall__column {text-align: left;}
.user__table .recall__column .form_open,
.user__table .recall__column .del,
.user__table .recall__column .recall_list_open {color: var(--color-orange-1); cursor: pointer; width: fit-content;}
.user__table .recall__column .hide {display: none;}

.user__table .recall__row {display: none;}
.user__table .recall__row td {border-left: none; border-right: none;}
.user__table .recall__form {display: flex; flex-direction: row; gap: 0.5em; align-items: center; justify-content: end;}
.user__table .recall__form select, .recall__form input, .recall__form button {padding: 5px 10px;}
.user__table .recall__form input {width: 300px;}
.user__table .recall__form button {cursor: pointer;}

#pager {padding-top: 1rem; text-align: center;}