@import url('default.css');
@import url('menu.css');
@import url('implant.css');
@import url('admin.css');

.content.dr {
    padding-top: 5em;
}

.content.dr:last-of-type {
    padding-bottom: 7em;
}

.content.map {
    padding-top: 5em;
}

.content.map:last-of-type {
    padding-bottom: 7em;
}

.content.equipment {
    padding-top: 5em;
}

.content.equipment:last-of-type {
    padding-bottom: 7em;
}

.career {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.career .title {
    flex: none;
}

.career .keyword {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    align-content: start;
    color: var(--link-apple-blue);
}

.comment__list {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.comment {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.profile,
.phrase {
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.profile .media {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile .name .text--large {
    font-size: 1.6em;
}

.profile .media.dr--lee img {
    width: 200%;
    position: absolute;
    top: -40%;
    left: -55%;
}

.doctors {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.doctors>li {
    flex: 1;
}

.doctors>li img {
    position: absolute;
}

.doctors>li:nth-of-type(1) img {
    width: 150%;
    top: -23%;
    left: -26%;
}

.doctors>li:nth-of-type(2) img {
    width: 326%;
    top: -26%;
    left: -120%;
}

.doctors>li:nth-of-type(3) img {
    width: 326%;
    top: -15%;
    left: -113%;
}

.doctors .media {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.doctors .text {
    padding: 20px 10px 0 10px;
    box-sizing: border-box;
    line-height: 1.5;
}

.doctors .text .text--large {
    font-size: 1.6em;
}

.doctors .text--toggle {
    display: none;
}

.doctors .text--toggle--btn {
    cursor: pointer;
}

.map .text__title {
    text-align: center;
}

.map .text__title .text--large {
    font-size: 1.8em;
    line-height: 1.8;
}

#map {
    width: 1200px;
    height: 500px;
    margin: auto;
    border-radius: 1em;
    overflow: hidden;
}

.information {
    font-size: 0.9em;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    line-height: 1.6;
}

.information .title {
    font-size: 1.2em;
    font-weight: 600;
    padding-bottom: 1em;
}

.information ul {
    flex: 1;
}

.information .address a {
    font-family: "Roboto", sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.6;
}

.information .hours li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 2px;
}

.information .hours li.title {
    letter-spacing: normal;
}

.information .hours .selected {
    display: none;
}

.equipment .text__group__list {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.equipment .text__group__list .text__group {
    flex: 1;
}

.equipment .text__group__list .text--large.text--bold {
    font-weight: 700;
}

.equipment .text__group__list .text__group:first-of-type .text--small {
    font-size: 1.2em;
}

.equipment .media__group__list {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
}

.equipment .media__group__list .media {
    overflow: hidden;
}

.equipment .media__group__list .text__group {
    padding-top: 1em;
}

.b4af .content__group {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 5em 3em;
}

.b4af .media {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.b4af .text__group {
    padding-top: 1em;
    width: 100%;
}

.b4af .media .media__bc {
    width: 50%;
    height: 100%;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
}

.b4af .media .media__b4 {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
}

.b4af input[type=range] {
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 16px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
}

.b4af input[type=range]::-webkit-slider-runnable-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

.b4af input[type=range]::-moz-range-track {
    height: 15px;
    background: #ccc;
    border-radius: 16px;
}

.b4af input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #f50;
    box-shadow: -1207px 0 0 1200px #f50;
}

.b4af input[type=range]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f50;
    box-shadow: -1207px 0 0 1200px #f50;
}

.b4af .title h1 {font-size: 2.5em; line-height: 1.4;}
.b4af .title p {font-size: 1.4em;}

.materials .swiper {
    width: 1200px;
}

.materials .swiper-slide {
    width: 40%;
}

.materials .swiper-slide .media,
.materials .swiper-slide .text__group {
    width: 100%;
}

@media (max-width : 1600px) {}

@media (max-width : 400px) {}