* {padding: 0; margin: 0;}
img {width: 100%;}
.content {height: 100vh; position: relative;}
#teeth {width: 80%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#upper, #lower {width: 100%; display: flex; flex-direction: row;}
#lower {margin-top: 3em;}
#upper .left, #upper .right,
#lower .left, #lower .right {width: 50%; display: flex; flex-direction: row;}
#upper .left, #upper .right {align-items: end;}
#upper .left {justify-content: end;}
#upper .right {flex-direction: row-reverse; justify-content: start;}
#lower .left, #lower .right {align-items: start;}
#lower .left {justify-content: end;}
#lower .right {flex-direction: row-reverse; justify-content: start;}

#teeth .teeth {width: 10%; font-size: 0; position: relative;}
#teeth .teeth.molar {width: 15%;}
#teeth .teeth .gbr,
#teeth .teeth .siuns {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.2;
    display: none;
    z-index: 1;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #db0025 0, #db0025 1px, transparent 0, transparent 50%);
    opacity: 0.3;
    border-radius: 50%;
}

#teeth .teeth .siuns {top: -50%; background-image: repeating-linear-gradient(45deg, #001bb3 0, #001bb3 1px, transparent 0, transparent 50%);}