* {padding: 0; margin: 0;}
img {width: 100%;}
#teeth {width: 80%;}
#upper, #lower {width: 100%; display: flex; flex-direction: row;}
#upper .left, #upper .right,
#lower .left, #lower .right {width: 50%; display: flex; flex-direction: row;}
#upper .left, #upper .right {align-items: end;}
#upper .left {justify-content: end;}
#upper .right {flex-direction: row-reverse; justify-content: start;}
#lower .left, #lower .right {align-items: start;}
#lower .left {justify-content: end;}
#lower .right {flex-direction: row-reverse; justify-content: start;}

#teeth .teeth {width: 10%; font-size: 0;}
#teeth .teeth.molar {width: 15%;}