* {padding: 0; margin: 0;}
img {width: 100%;}
#teeth {width: 80%;}
#upper, #lower {width: 100%; display: flex; flex-direction: row;}
#lower {margin-top: 3em;}
#upper .left, #upper .right,
#lower .left, #lower .right {width: 50%; display: flex; flex-direction: row;}
#upper .left, #upper .right {align-items: end;}
#upper .left {justify-content: end;}
#upper .right {flex-direction: row-reverse; justify-content: start;}
#lower .left, #lower .right {align-items: start;}
#lower .left {justify-content: end;}
#lower .right {flex-direction: row-reverse; justify-content: start;}

#teeth .teeth {width: 10%; font-size: 0; position: relative;}
#teeth .teeth.molar {width: 15%;}
#teeth .teeth .gbr,
#teeth .teeth .siuns {position: absolute; top: -10%; left: 50%; transform: translate(-50%, 0); opacity: 0.3; display: none;}