.content__outer.dentist {padding-top: 10rem;}
.content__outer.type {padding: 5rem 0;}
.content__outer.composition {padding: 5rem 0; background-color: var(--color-gray-1);}
.content__outer.b4af {padding: 5rem 0; background-color: var(--color-black-2); color: var(--color-white-1);}
.content__outer.materials {padding: 5rem 0;}

.content__outer {
    padding-top: 5rem;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: var(--font-type-1);
    color: var(--color-black-2);
}

.main__title {text-align: center; font-family: var(--font-type-gowun);}
.main__title h1 {font-size: 5em;}
.main__title h2 {font-size: 3em; width: fit-content; margin: auto; position: relative;}
.main__title p {font-size: 1.4em; width: 500px; margin: auto; padding-top: 1rem;}
.main__title .text__group h2::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -50%;
    transform: translate(0, -50%);
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-image: url(/img/implant__osstem__mark__01.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.dentist .content__group {background-color: #1d4746; color: #fff;}
.dentist .content {
    width: 1000px;
    height: 500px;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 6rem;
    align-items: center;
}

.dentist .text__group, .dentist .media {flex: 1; position: relative;}
.dentist .media {height: 100%;}
.dentist .media img {width: 140%; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 0);}
.dentist .text__group {height: auto;}
.dentist .text__group p {padding-top: 1rem; color: #96b5b5;}
.dentist .group:nth-of-type(2) {display: flex; flex-direction: row; justify-content: space-between; text-align: center; padding-top: 5rem;}
.dentist .group:nth-of-type(2) .group__sub {flex: 1; border-right: 3px solid #2f5756; box-sizing: border-box;}
.dentist .group:nth-of-type(2) .group__sub:last-of-type {border: none;}
.dentist .group:nth-of-type(2) h2 {font-size: 2em; font-family: var(--font-type-jua); font-weight: lighter; color: #faebd7;}
.dentist .group:nth-of-type(2) p {padding: 0; font-size: 0.9em;}

.type {background-color: #253b3a;}
.type .content__group {width: 400px; margin: auto; position: relative;}
.type .content {width: 100%;}
.type .label {display: flex; flex-direction: column; gap: 3rem; position: absolute; top: 50%; left: 50%; transform: translate(0, -50%);}
.type .label .text__group {width: 100%; position: relative;}
.type .label .text__group:nth-of-type(2) {position: relative; left: -100%; text-align: right;}
.type .label h1 {font-size: 1.6em; font-weight: 500; color: #fff;}
.type .label h5 {color: #afcfce}
.type .label p {color: #faebd7}
.type .label .text__group::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(0, -50%);
}

.type .label .text__group:nth-of-type(2)::after {
    left: unset;
    right: -10%;
}

.composition .content__group {width: 1200px; margin: auto; display: flex; flex-direction: row; gap: 3rem;}
.composition .content {flex: 1; display: flex; flex-direction: row; gap: 1rem;}
.composition .content .media {flex: 1; transform: scaleX(-1);}
.composition .content .text__group {flex: 2;}
.composition .content .text__group h5 {font-size: 0.9em; font-weight: 500; color: var(--color-orange-1);}
.composition .content .text__group h2 {font-weight: 700;}
.composition .content .text__group h2:nth-of-type(2) {font-weight: 500;}
.composition .content .text__group p {padding: 0.5rem 0;}

.composition .content__group.title {display: block; padding-bottom: 5rem;}
.composition .content__group.title h1 {font-size: 2.5em; line-height: 1.4;}
.composition .content__group.title p {font-size: 1.4em; width: 50%; padding: 0; padding: 1rem 0 0 0;}