#daily_today {padding-top: 2em; padding-bottom: 5em;}
#daily_today table {border-collapse: collapse; font-size: 0.9em;}
#daily_today .title th {background-color: #87cefa !important; font-weight: 500;}
#daily_today th, #daily_today td {
    padding: 5px 10px;
    border-bottom: 1px solid var(--color-black-4);
    border-left: 1px solid var(--color-black-4);
    text-align: center;
    box-sizing: border-box;
}
#daily_today tbody tr:nth-of-type(odd) {background-color: var(--color-gray-4);}
#daily_today td[name="num"] {width: 50px;}
#daily_today td[name="name"] {width: 200px;}
#daily_today td.pay__format {width: 100px;}
#daily_today .today__date th {background-color: transparent; border-left: none; border-top: none; border-right: none; text-align: right; font-size: 2em; font-weight: 600;}
#daily_today .title:nth-of-type(2) th:last-of-type {border-right: 1px solid var(--color-black-4);}
#daily_today tbody td:last-of-type {border-right: 1px solid var(--color-black-4);}
#daily_today .sum td {text-align: right; background-color: var(--color-ivory-1); font-weight: 700;}

@media print {
    #content__list {padding: 0 !important; margin: 0 !important;}
    nav, .form {display: none !important;}
    .content__outer {padding: 0 !important;}
    .today__date th {font-size: 1em !important;}
    table {
        table-layout: fixed;
        width: 100% !important;
        font-size: 0.7em !important;
        font-weight: 400 !important;
        margin: 0 auto;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        border-collapse: collapse; 
    }

    @page {margin: 10mm;}
}