#daily_today {padding-top: 2em; padding-bottom: 5em;}
#daily_today table {border-collapse: collapse; font-size: 0.9em;}
#daily_today th {background-color: var(--color-gray-4); font-weight: 500;}
#daily_today th, #daily_today td {
    padding: 5px 10px;
    border-bottom: 1px solid var(--color-black-4);
    border-left: 1px solid var(--color-black-4);
    text-align: center;
    box-sizing: border-box;
}
#daily_today td[name="num"] {width: 50px;}
#daily_today td[name="name"] {width: 200px;}
#daily_today td[name="content"] {
    display: block;
    width: 400px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#daily_today td.pay__format {width: 100px;}
#daily_today .today__date th {background-color: transparent; border-left: none; border-top: none; border-right: none; text-align: right; font-size: 2em; font-weight: 600;}
#daily_today .title:nth-of-type(2) th:last-of-type {border-right: 1px solid var(--color-black-4);}
#daily_today tbody td:last-of-type {border-right: 1px solid var(--color-black-4);}

@media print {
    nav, .form {display: none;}
    .content__outer, #daily_today {margin: 0; padding: 0;}
    @page {size: A4; margin: 10mm;}
}