#daily_today table {border-collapse: collapse; font-size: 0.9em;}
#daily_today th {background-color: var(--color-gray-4); font-weight: 500;}
#daily_today th, #daily_today td {
    padding: 5px 10px;
    border-bottom: 1px solid var(--color-black-4);
    border-left: 1px solid var(--color-black-4);
    text-align: center;
    box-sizing: border-box;
}
#daily_today td[name="num"] {width: 50px;}
#daily_today td[name="name"] {width: 200px;}
#daily_today td[name="content"] {width: 400px; text-align: left;}
#daily_today td.pay__format {width: 100px;}