.payment table {margin: 0 auto; text-align: center; border-spacing: unset;}
.payment table th,
.payment table td {padding: 10px 20px; border-top: 1px solid var(--color-black-4); border-left: 1px solid var(--color-black-4); box-sizing: border-box;}
.payment table tr:first-of-type th:last-of-type,
.payment table td:last-of-type {border-right: 1px solid var(--color-black-4); box-sizing: border-box;}
.payment table thead th {background-color: var(--color-gray-2);}